* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #161623;
  color: #dfe1e0;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container {
  width: 100%;
  min-height: 600px;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}

.container h1 {
  position: absolute;
  justify-content: center;
  align-self: center;
  top: 50px;
}

.container .card {
  width: 32.2%;
  height: 200px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .card .content {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}

.container .card .content h2 {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 6em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.container .card .content h3 {
  font-size: 1.5em;
  color: white;
  z-index: 1;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background: linear-gradient(90deg, #2792ea, #00d4ff);
  color: black;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.container .card .content a:hover {
  transition: 0.2s;
  background: linear-gradient(270deg, #020024, #2792ea);
  color: white;
}


@media screen and (max-width: 900px) {
  .container .card {
    width: 31.3%;
  }
}

@media screen and (max-width: 700px) {
  .container .card {
    width: 100%;
  }
}
